doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        title Blocked

        link(rel='stylesheet' href='/stylesheets/libs/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/libs/font-awesome-all.min.css')
        link(rel='stylesheet', href='/stylesheets/global.css')
        link(rel='stylesheet', href='/stylesheets/error.css')
    body
        .flex-centre
            h1.display-1 Blocked
            .lead It seems you have been blocked from accessing our site. Please check the common issues below and resolve this or, if necessary, contact us.
