extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/error.css')

block content
    .flex-centre
        .container
            h1.display-1 #{message}
            .lead #{error.status}
            p #{error.stack}
