extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/imprint.css')

block content
    .container-fluid#info-container
        h1 Disclosure of credit and sources
        p Icons made by #[a(href='https://www.flaticon.com/authors/google', title='Google') Google] from #[a(href='https://www.flaticon.com/', title='Flaticon') Flaticon]. Flaticon is licensed by #[a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0' target='_blank')]CC 3.0 BY