extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/games/roulette.css')

block injections
    script.
        const Roulette = {};
        Roulette.lastSpin = !{JSON.stringify(lastSpin)};

block scripts
    script(src='/javascripts/client-index.js')
    script(src='/javascripts/games/roulette.js')

block content
    .row
        .col-xl-9
            .flex-column.fill
                    .content-box(style='height: 200px;')
                        #roulette-wheel
                            .countdown-sheath(style='border-radius: 20rem; display: none;')
                                p.countdown-clock 
                            #pointer
                    .row.flex-fill
                        .col-sm-4.flex-column
                            button.btn.btn-danger.bet-btn(type='button', bet='red') Red (1 to 7)
                            .content-box.flex-fill
                        .col-sm-4.flex-column
                            button.btn.btn-success.bet-btn(type='button', bet='green') Green (0)
                            .content-box.flex-fill
                        .col-sm-4.flex-column
                            button.btn.btn-dark.bet-btn(type='button', bet='black') Black (8 to 14)
                            .content-box.flex-fill
        .col-xl-3.flex-column
            .content-box.flex-fill(style='height: 80vh;')
                ul#chat-content
            .input-group(style='width: 100%;')
                input.form-control(type='text', id='chat-input', maxlength='256', onkeydown='if(event.keyCode == 13) $("#chat-button").click();')
                button.btn.btn-primary#chat-button(type='button', onClick='Chat.messageSend()') 
                    i.fa.fa-paper-plane(aria-hidden='true', style='margin-left: -4px;')
