doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        title= title

        script(src='/javascripts/libs/hacktimer/HackTimer.silent.min.js')
        script(src='/javascripts/libs/hacktimer/HackTimerWorker.min.js')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
        script(src='/javascripts/client-global.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
        script.
            const injections = !{JSON.stringify(injections)};

            for (var key in injections) {
                if (!injections.hasOwnProperty(key)) continue;

                _[key] = injections[key];
            }
        block scripts

        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', integrity='sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/global.css')
        block stylesheets
    
    body
        nav.navbar.navbar-expand-lg.navbar-light.sticky-top(style='background-color: var(--cl-solitude); min-height: fit-content;')
            a.navbar-brand.nav-padded(href='#') Hi-Roller
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.nav.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Home
                    if session.user
                        li.nav-item
                            a.nav-link(href='/profile') Profile
                    else
                        li.nav-item
                            a.nav-link(href='/login') Login
                    
                ul.nav.navbar-nav
                    li.nav-item
                        .nav-padded
                            .rounded-border.credit-container
                                if session.user
                                    p#balance-text(style='margin: 0; padding-right: 34px;') #{session.user.balance}
                                else
                                    p#balance-text(style='margin: 0; padding-right: 34px;') 0
                                i.credit-icon.fa.fa-diamond(aria-hidden='true')

                    if session.user
                        li.nav-item
                            .nav-padded
                                a.btn.logout-btn.btn-outline-danger(href='/logout', role='button') Log Out
              
        block content

