extends layout


block content
    .container-fluid.flex-fill
        .row.fill.flex-centre
            .col-lg-4.justify-content.flex-column.fill
                h1 Hello!
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                form#login-form(action='/login', method='post')
                    .form-group
                        input.form-control(type='email', name='email', placeholder='Email')
                    .form-group
                        input.form-control(type='password', name='password', placeholder='Password')
                    .form-check.ml-4.mb-3
                        input#stay-logged.form-check-input(type='checkbox')
                        label.form-check-label(for='stay-logged', style="padding: 0;") Stay logged in?
                    .form-group
                        button.btn.btn-success(style="width: 100%", type='submit') Login
                button#signup-button.btn.btn-primary(style="width: 100%") New User? Sign up here!


    script(src='/javascripts/login.js')
