extends game

append stylesheets
    link(rel='stylesheet', href='/stylesheets/games/roulette.css')

append sockets
    script.
        gameSocket = io('/page/roulette');

block game-content
    .flex-column.fill
        .content-box.flex-centre.flex-column(style='height: fit-content;')
            #roulette-wheel
                .countdown-sheath(style='border-radius: 20rem; display: none;')
                    p.countdown-clock 
                #pointer
            #roulette-history.flex-centre
                - for(var i = 0; i < 16; i++)
                    .roulette-history-slot.flex-centre
        .content-box.flex-row#bet-controls
            .btn-group.btn-group-justified#bet-btn-group(role='group', aria-label='First group')
                button.btn.bet-amnt-btn(type='button') 10
                button.btn.bet-amnt-btn(type='button') 50
                button.btn.bet-amnt-btn(type='button') 100
                button.btn.bet-amnt-btn(type='button') 500
                button.btn.bet-amnt-btn(type='button') 1000
                button.btn.bet-amnt-btn(type='button') 5000
            .input-group#bet-input-group
                .input-group-prepend
                    span.input-group-text Bet:
                input.form-control#bet-input(type='number', value='1', min='1', aria-describedby='btnGroupAddon')
                .input-group-append
                    span.input-group-text #[i.far.fa-gem]

        .row.flex-fill
            .col-sm-4.flex-column
                button.cl-rl-red.bet-btn(type='button', bet='red') Red (Odds)
                .content-box.flex-fill
                    ul.bet-content(bet='red')
            .col-sm-4.flex-column
                button.cl-rl-green.bet-btn(type='button', bet='green') Green (0)
                .content-box.flex-fill
                    ul.bet-content(bet='green')
            .col-sm-4.flex-column
                button.cl-rl-black.bet-btn(type='button', bet='black') Black (Evens)
                .content-box.flex-fill
                        ul.bet-content(bet='black')

block game-scripts
    script(src='/javascripts/libs/hacktimer/HackTimer.silent.min.js')
    script(src='/javascripts/libs/hacktimer/HackTimerWorker.min.js')
    script(src='/javascripts/games/roulette.js')