extends layout

block content
    .container-fluid.flex-fill
        .row.fill.flex-centre
            .col-lg-4.justify-content.flex-column.fill
                h1 Welcome!
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                form(action='/signup', method='post')
                    .form-group
                        input.form-control(type='text', name='username', placeholder='Username')
                    .form-group
                        input.form-control(type='email', name='email', placeholder='Email')
                    .form-group
                        input.form-control(type='password', name='password', placeholder='Password')
                    .form-group
                        input.form-control(type='password', name='passwordConf', placeholder='Password Confirmation')
                    p <br>
                    .form-group
                        button.btn.btn-success(style="width: 100%", type='submit') Sign-up

    script(src='/javascripts/login.js')