#chat-content {
    padding: 0;
    margin: 0;

    height: 0;
}

#chat-box::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scroll{
    height: 100%;
}

.chat-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--cl-virgil-abloh);

    padding-right: 15px;
    padding-left: 5px;

    border-radius: 25px;
    border: 1px solid var(--cl-carbon);

    word-break: break-all;
}

.col-sm-4 {
    min-height: 30vh;
}

.chat-username {
    font-weight: bold;
    padding-bottom: 0 !important;
    margin: 0;
}

.chat-avatar {
    width: 32px;
    height: 32px;

    margin: auto 10px;
}

.chat-text {
    margin: 0;
}

.chat-content {
    margin-bottom: .5rem !important;
}

#chat-input {
    height: 50px;
    padding-right: 60px;
    border-radius: 2rem;

    margin-bottom: 20px;

    border: 1px solid var(--cl-carbon);
}

#chat-button {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    z-index: 3;
    border-radius: 0 2rem 2rem 0;
}

.flying-gem {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 20001;
}

@media screen and (max-width: 992px) {
    #chat-box {
        height: 50vh;
    }
}