:root {
    /* Colours preface with a --cl-NAME, named by http://www.color-blindness.com/color-name-hue/ and aWpH--*/
    --cl-solitude: #ECEFF1;
    --cl-pattens-blue: #F7FBFC;
    --cl-carbon: rgba(0,0,0,0.1);
    --cl-carbon-dark: rgba(0,0,0,0.75);
    --cl-off-white: #fdfdfd;
    --cl-virgil-abloh: hsla(0, 0%, 98%, 1);

    --cl-rl-black: #212121;
    --cl-rl-red: #E53935;
    --cl-rl-green:   #43A047;
}

body {
    background-color: var(--cl-virgil-abloh);
}

html, body {
    height: 100%;
    min-width: 400px;

    display: flex;
    flex-direction: column;
}

.flex-centre {
    display: flex; 

    align-items: center; 
    justify-content: center;
    text-align: center;
}

.content-box {
    position: relative;
    width: 100%;

    padding: 20px;
    overflow-y: auto;

    border-radius: 25px;
    border: 1px solid var(--cl-carbon);

    background-color: var(--cl-off-white);

    margin: 20px auto;
}

.rounded-border {
    border-radius: 2000rem;
    border: 1px solid var(--cl-carbon);
}


.cl-rl-green {
    background-color: var(--cl-rl-green);
}

.cl-rl-red {
    background-color: var(--cl-rl-red);
}

.cl-rl-black {
    background-color: var(--cl-rl-black);
}


.credit-container {
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 150px;
    position: relative;
    height: 32px;
}

.credit-icon {
    right: 5px;
    position: absolute;
}

.fill {
    width: 100%;
    height: 100%;
    margin: 0;
}

.flex-row, .flex-column {
    display: flex;
}

.flex-fill {
    flex: 1;
}

.alert-card {
    width: 100%; 
    position: fixed; 
    bottom: 2%;
    left: 25%;
    text-align: center;

    word-break: 
    break-word; 
    max-width: 50vw;
    z-index: 5000;
}

.alert-close {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0.5;
}

.alert-close:hover {
    opacity: 1;
}

.nav-padded {
    padding: 0.5rem;
}

.justify-content {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }

    .navbar {
        padding: .2rem .2rem !important;
    }
}

@media screen and (max-width: 992px) {
    .nav-padded {
        padding-left: 0;
        padding-right: 0;
    }

    .logout-btn {
        width: 100%;
    }
}