.bet-btn {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 50px;

    color: #fff;

    border-radius: 2rem;
    border: 1px solid transparent;
    border-color: var(--cl-carbon);

    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;

    z-index: 10910101010;
}

.bet-btn:hover {
    box-shadow: 0 0 5px #888888;
}

.bet-btn:focus {
    outline: 0;
}

.bet-content {
    height: 0;
    padding: 0;
}

/* Hijacks .chat-message class */
.bet-history-entry {
    padding: .2rem;
}

.bet-amnt-btn {
    color: var(--cl-carbon-dark);
    background-color: var(--cl-virigl-abloh);
    border-color: var(--cl-carbon);
}

#bet-input {
    border: 1px solid transparent;
    border-color: var(--cl-carbon);
    min-width: 200px;
}

.countdown-sheath {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    text-align: center;
}

.countdown-clock {
    font-size: 2rem;
    color: white;
    z-index: 1;
    line-height: 64px;
}

#roulette-wheel {
    width: 90%;    
    border-radius: 20rem;

    background-image: url('/images/roulette.png');
    background-position-y: 50%; 
    background-repeat-y: no-repeat;

    height: 64px;

    position: relative;
}

#roulette-history {  
    position: relative;
    margin-top: 20px;
    flex-wrap: wrap;
}

.roulette-history-slot {
    height: 28px;
    width: 28px;

    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;

    border: 1px solid transparent;
    border-radius: 20rem;
    border-color: var(--cl-carbon);
}

.roulette-history-text {
    margin: 0;
    color: white;
}

#pointer {
    width: 5px;
    height: 100%;
    background-color: black;
    margin: auto auto;
}

#bet-controls {
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    padding: .75rem;
}

#bet-btn-group {
    margin: .5rem;
}

#bet-input-group {
    flex: 1;
}