.bet-btn {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 50px;

    border-radius: 2rem;
    border: 1px solid transparent;
    border-color: var(--cl-carbon);
}

.countdown-sheath {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    text-align: center;
}

.countdown-clock {
    font-size: 2rem;
    color: white;
    z-index: 1;
    line-height: 64px;
}

#roulette-wheel {
    width: 90%;    
    border-radius: 20rem;

    background-image: url('/images/roulette.png');
    background-position-y: 50%; 
    background-repeat-y: no-repeat;

    height: 64px;

    position: relative;
}

#roulette-history {
    height: 32px;
    width: 70%;    
    position: relative;

    margin-top: 20px;
}

.roulette-history-slot {
    height: 28px;
    width: 28px;

    margin-left: 2px;
    margin-right: 2px;

    border: 1px solid transparent;
    border-radius: 20rem;
    border-color: var(--cl-carbon);
}

#pointer {
    width: 5px;
    height: 100%;
    background-color: black;
    margin: auto auto;
}